<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="7.0.2" targetFramework="net48" />
  <package id="hidlibrary" version="3.3.40" targetFramework="net48" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net452" />
  <package id="MahApps.Metro" version="3.0.0-rc0529" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="6.2.1" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Material" version="6.2.1" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialDesign" version="6.2.1" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.MaterialLight" version="6.2.1" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="6.2.1" targetFramework="net48" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>